<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Lista de compras
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list >
        <ion-item  *ngFor="let food of this.registerFoodService.foodList">
          <ion-label>{{food.name}}</ion-label><ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>