<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Alterar Alimento
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<ion-item>
  <ion-label>Nome</ion-label>
  <ion-input #nome></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Quantidade</ion-label>
  <ion-input #qtd></ion-input>
</ion-item>
<ion-item>
  <ion-label>Validade</ion-label>
  <ion-datetime displayFormat="DD MM YY" min="2020-01-01" max="2030-12-31" placeholder="Select Date" #data></ion-datetime>
</ion-item>
<ion-button expand="full" (click)="presentAlert(nome.value, qtd.value, data.value)">Alterar</ion-button>
</ion-content>